/* tooltip displays name of the county when hover over with mouse*/
div.tooltip { 
          position: absolute; 
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          text-align: center;     
          width: 100px;          
          height: 20px;         
          padding: 2px;       
          font: 20px ;    
          background: #fff; 
          border: 0px;        
          pointer-events: none;     
      }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
    }

.show {display: block;}
path:hover {
    fill-opacity: .7;
}

/*canvas for the map*/
svg {
background: #fff;
width: 1270px;
height: 720px;
position: absolute;
left: 565px;
}

#ireland path{  

stroke-width: .5px;
}

/* color codes for map */
.q0-9{fill:#F7FCF5}
.q1-9{fill:#E5F5E0}
.q2-9{fill:#C7E9C0}
.q3-9{fill:#A1D99B}
.q4-9{fill:#74C476}
.q5-9{fill:#41AB5D}
.q6-9{fill:#238B45}
.q7-9{fill:#006D2C}
.q8-9{fill:#00441B}

/* basic positioning */
.legend { list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         }
         
.legend li { margin-right: 10px; }
.legend span { 
border: px solid #ccc; 
float: left; 
width: 69px; 
height: 12px; 
margin: 2px; }

/* colors */
.legend .lessThan100 {
     background-color: #C7E9C0;
 }
.legend .lessThan300 { background-color: #74C476; }
.legend .lessThan600 { background-color: #238B45; }
.legend .lessThan800 { background-color: #006D2C; }
.legend .moreThan800 { background-color: #00441B; }